<h1>Project Four Version Three</h1>

<form action="/" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <div>
        <label for="inputFile">Input text file:</label>
        <input type="text" id="inputFile" name="file">
    </div>
    <div>
        <label for="numStan">Number of stanzas:</label>
        <input type="text" id="numStan" name="stanzas">
    </div>
    <div>
        <label for="numLine">Number of lines:</label>
        <input type="text" id="numLine" name="lines">
    </div>
    <div>
        <label for="numWord">Number of words:</label>
        <input type="text" id="numWord" name="words">
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
